/* new-town-pages template styles */

.slideshow-section .text-overlay__block ul {
    padding: 0;
}

.slideshow__icons {
    margin-top: 30px !important;
}
 
.shop-popular-categories li.multi-column {
    background: rgba(0, 0, 0, 0.05);
    padding: 24px 16px;
}

.shop-popular-categories .pl-6.pr-6.card__title-wrapper.w-full {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.shop-popular-categories h3.h6.card__title {
    font-size: 24px;
    font-weight: 500;
}

.shop-popular-categories h3.h6.card__title::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #004275;
    opacity: .5;
    border-radius: 999px;
    margin: 16px auto 0;
}

.shop-popular-categories ul.card__link-list {
    list-style: disc;
}

.shop-popular-categories .card__link-list-item {
    border: 0;
    padding-bottom: 0;
}

.town-local-desc .container {
    background: rgba(0, 0, 0, 0.05);
    padding-top: 64px;
    padding-bottom: 64px;
}

.town-local-desc .max-w-text-large {
    max-width: 100%;
}

.rte h1:not(:first-child), 
.rte h2:not(:first-child), 
.rte h3:not(:first-child), 
.rte h4:not(:first-child), 
.rte h5:not(:first-child), 
.rte h6:not(:first-child) {
    margin-top: 1em;
}

.multicolumn-town-bottom {
    background: rgba(0, 0, 0, 0.05);
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

.multicolumn-town-bottom li.multi-column {
    background: #fff;
}

.multicolumn-town-bottom .card__info {
    padding: 24px 16px;
}

.multicolumn-town-bottom .rte ul {
    padding: 0;
}

.multicolumn-town-bottom h5:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #004275;
    opacity: .5;
    border-radius: 999px;
    margin: 16px auto 0; 
}

.multicolumn-town-bottom .rte h5:not(:last-child) {
    margin-bottom: 20px;
}

.town-faq h2 {
    font-size: var(--h2-font-size);
}


@media (min-width: 769px) {
    .text-overlay__block {
        font-size: 18px;
    }
    .cc-nav-slideshow .slideshow-section .quick-nav {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .slideshow-section .slideshow__icons--mobile {
        display: none;
    }
    
    .slideshow-section .slideshow__icons--desktop {
        display: flex;
    }
    
    .slideshow-section .text-overlay.text-start.md-down\:text-center.has-motion {
        max-width: 100%;
    }
    
    .slideshow-section .slideshow__icon {
        height: 50px;
    }
    
    .slideshow-section .container.container--quick-nav {
        padding-bottom: 100px;
    }
    .retail-florist-section .media-with-text__media {
        width: 40%;
    }
}


@media (max-width: 767px) {
    .slideshow-section .slideshow__icon {
        height: 38px;
    }
    
    .slideshow-section .slideshow__icons {
        gap: 8px;
    }

    .slideshow-section .container.container--quick-nav {
        padding-bottom: 60px;
        padding-top: 20px;
    }
    .town-map .text-start {
        text-align: center;
    }
    .retail-florist-section .media-with-text__media {
        width: 70%;
        margin: 0 auto;
    }
    
    .retail-florist-section .text-start {
        text-align: center;
    }
    
    .retail-florist-section {
        padding-bottom: 60px;
    }

    .trust-kemp-section .text-start {
        text-align: center;
    }

    .shop-popular-categories li.multi-column {
        width: 47%;
    }
    
    .shop-popular-categories a.card__link-list-item {
        font-size: 12px;
    }
    .img-banner-2 img.img-fit {
        width: 130%;
        max-width: 130%;
        left: auto;
        right: 0;
    }
    .img-banner-buttons .text-overlay__buttons {
        flex-direction: column;
        width: 100%;
    }
    
    .img-banner-buttons .text-overlay__buttons .btn--primary {
        width: 100%;
    }
    .img-banner-2 {
        margin-bottom: 0;
    }
    .multicolumn-town-bottom .card__rte.flex-auto.rte {
        width: 100%;
        text-align: left;
    }
    
    .multicolumn-town-bottom h5:after {
        margin: 16px 0;
    }
}

@media (max-width: 373px) {
    .shop-popular-categories li.multi-column {
        width: 100%;
    }
    
    .shop-popular-categories a.card__link-list-item {
        font-size: 14px;
    }

}